<div class="list--food-table">
<div class="add-food ">
 <%= link_to "Add food", "foods/new", class: "mt-4 btn btn-success"%>
 </div>
<table class="table table-success table-striped"">
  <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Quantity</th>
      <th scope="col">Value</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do | food | %>
     <tr>
      <th scope="row"> <%= food.name %> </th>
      <td> <%= food.measurement_unit %> </td>
      <td> <%= food.price %></td>
      <td>
        <%= button_to "Delete", "foods/#{food.id}" , method: :delete %>
      </td>
     </tr>
    <% end %>
  </tbody>
</table>
</div>
